@font-face {
    font-family: 'Neue Machina';
    src: url('fonts/BerlinGrotesk-Thin.eot');
    src: url('fonts/BerlinGrotesk-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/BerlinGrotesk-Thin.woff2') format('woff2'),
        url('fonts/BerlinGrotesk-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neue Machina';
    src: url('fonts/BerlinGrotesk-Light.eot');
    src: url('fonts/BerlinGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/BerlinGrotesk-Light.woff2') format('woff2'),
        url('fonts/BerlinGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neue Machina';
    src: url('fonts/BerlinGrotesk-Regular.eot');
    src: url('fonts/BerlinGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BerlinGrotesk-Regular.woff2') format('woff2'),
        url('fonts/BerlinGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neue Machina';
    src: url('fonts/BerlinGrotesk-Medium.eot');
    src: url('fonts/BerlinGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/BerlinGrotesk-Medium.woff2') format('woff2'),
        url('fonts/BerlinGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('fonts/BerlinGrotesk-Bold.eot');
    src: url('fonts/BerlinGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BerlinGrotesk-Bold.woff2') format('woff2'),
        url('fonts/BerlinGrotesk-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body, * {
    margin: 0;
    padding: 0;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 300;
    color: white;
    box-sizing: border-box;
}
body{
    background-color: #EBEBEB;
}
a{
    text-decoration: none;
}
.exclusion{
    mix-blend-mode: exclusion;
}
.w-100{
    width: 100%;
}
.vh-100{
    height: 100vh;
}
.column{
    flex-direction: column;
}
.flex-sb-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-sb-start {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flex-start-center{
    display: flex;
    justify-content: start;
    align-items: center;
}
.fixed{
    position: fixed;
    left: 0;
    width: -webkit-fill-available;
    font-size: 18px;
    z-index: 100;
}
.absolute{
    position: absolute;
}
.bold{
    font-weight: 500;
}