@font-face {
    font-family: 'Neue Machina Mono Light';
    src: url('assets/fonts/NeueMetanaMono-light.eot');
    src: url('assets/fonts/NeueMetanaMono-light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/NeueMetanaMono-light.woff2') format('woff2'),
        url('assets/fonts/NeueMetanaMono-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neue Machina Mono Semibold';
    src: url('assets/fonts/NeueMetanaMono-semibold.eot');
    src: url('assets/fonts/NeueMetanaMono-semibold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/NeueMetanaMono-semibold.woff2') format('woff2'),
        url('assets/fonts/NeueMetanaMono-semibold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



body, * {
    margin: 0;
    padding: 0;
    font-family: 'Neue Machina Mono Light', sans-serif;
    font-weight: 300;
    color: white;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4;
}
a{
    text-decoration: none;
}
.exclusion{
    mix-blend-mode: exclusion;
}
.w-100{
    width: 100%;
}
.vh-100{
    height: 100vh;
}
.column{
    flex-direction: column;
}
.flex-sb-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-sb-start {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flex-start-center{
    display: flex;
    justify-content: start;
    align-items: center;
}
.flex{
    display: flex;
}
.baseline{
    align-items: baseline;
}
.g-8{
    gap: 8px;
}
.g-16{
    gap: 16px;
}
.g-24{
    gap: 24px;
}
.p-24{
    padding: 24px;
}
.fixed{
    position: fixed;
    left: 0;
    width: -webkit-fill-available;
    font-size: 18px;
    z-index: 100;
}
.absolute{
    position: absolute;
}
.semibold{
    font-family: 'Neue Machina Mono Semibold', sans-serif;
}
.size-24{
    font-size: 24px;
}
.size-20{
    font-size: 20px;
}

.main-container{
    gap: 8px;
    padding: 0 24px;
    /* max-height: 80%; */
    height: calc(100vh - 135.5px);
    overflow: hidden;
}
.main-container > div{
    width: 33%;
    height: 100%;
}
.personal-text{
    line-height: 22px;
    letter-spacing: -0.05rem;
}
.project-text{
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
}
.min-desktop{
    width: 80%;
    font-size: 14px;
}
.min{
    display: none;
}
.selProjects-mobile{
    display: none;
}
.project-text-title-desktop{
    font-size: 16px;
}
.project-text-title{
    font-size: 16px;
}
.project-text-description-desktop{
    line-height: 20px;
    color: rgb(100, 100, 100);
}
.project-img{
    position: relative;
    overflow: scroll;
}
.img{
    width: 100%;
    object-fit: cover;
}
.separator{
    margin-top: 100%;
}
.leading{
    margin-top: 48px;
}
.slant{
    font-style: oblique 14deg;
}
.uppercase{
    text-transform: uppercase;
}
.rtl{
    text-align: end;
}
.rtl *{
    color: black
}
.comingSoon{
    margin-top: 24px;
    font-size: 14px;
    width: 100%;
}
.footer{
font-size: 12px;
}

@media screen and (max-width: 768px){
    .nav{
        flex-direction: column;
        gap: 24px;
    }
    .say-hi{
        flex-direction: column;
        gap: 8px;
    }
    .main-container{
        flex-direction: column;
        overflow: scroll;
        height: unset;
    }
    .main-container > div{
        width: 100%;
    }
    .personal-text{
        margin-bottom: 48px;
    }
    .project-text{
        display: none;
    }
    .project-img{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: unset;
        gap: 16px;
    }
    .separator{
        margin-top: 0;
    }
    .min{
        display: flex;
        margin-top: 48px;
    }
    .leading{
        margin: 0;
    }
    .project-text-title{
        font-size: 16px;
    }
    .project-text{
        font-size: 16px;
    }
    .project-text-description{
        line-height: 20px;
        color: rgb(100, 100, 100);
    }
    .selProjects{
        display: none;
    }
    .selProjects-mobile{
        display: block;
        width: 100%;
    }

}